div {
    position: relative;
    padding: 60px;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

.tall {
    height: 1000px;
}

html {
    background-color:#ffffff;
}

.cls-1 {
    opacity: 0;
}