header {
    background-color: #5A96BA;
}

a, a:visited, a:active {
    text-decoration: none;
    font-weight: 400;
}

p, ul, li {
    font-size: 18px;
}

.light-nav {
    transition: all 0.35s ease;
    color: #575B67;
    background-color: #FFF;
}

.light-nav a {
    color: #575B67
}

.hero-spacer {
    background-color:#5A96BA;
}

.light-logo {
    stroke: #575B67;
}