header {
    background-color: #7D8395;
}

a, a:visited, a:active {
    text-decoration: none;
    font-weight: 400;
}

.container {
    min-height:100vh;
}

.hero-spacer {
    background-color:#5A96BA;
}

.light-logo {
    stroke: #575B67;
}

.logo {
    opacity: 1;
}

.nav-item {
    opacity: 1;
}

.left-col {
    width: 230px;
    padding: 0px 50px 0px 20px;
    float: left;
}