/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #7D8395;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #5A96BA;
    text-shadow: none;
}

::selection {
    background: #5A96BA;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* These are fonts which are loaded in from the Google Web Fonts library. Customize this as needed to utilize different fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,500,600,700|IBM+Plex+Sans:200,200i,300,300i,400,400i,500,600,700');

* {
	box-sizing: border-box;	
}

a, a:visited, a:active {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 0;
    position: relative;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    position: relative;
    margin: 0px 0px 25px;
}

h3 {
    font-size: 36px;
    font-weight: 200;
    line-height: 1;
    position: relative;
}

h4 {
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    margin: 65px 0px 25px;
}

h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    margin: 10px 0px 10px;
    color: #5A96BA;
}

.mint h5 {
    color:  rgb(131, 199, 183);
}

.orange h5 {
    color:  rgb(221, 131, 72);
}

p, ul, li {
    font-weight: 200;
    font-size: 22px;
}

ul {
    margin: 25px 10px;
}

li{
    margin: 3px 0px;
}


header {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #7D8395;
    z-index: 1;
    opacity: .95;
    color: #FFF;
}

button {
    background-color: #FFF;
    border: 1px solid #5A96BA;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #5A96BA;
    margin-top:25px;
    padding: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color:#5A96BA;
    color: #FFF;
    
}

.mint button {
    color: #83C7B7;
    border-color: #83C7B7;
    margin: 25px 25px 0px 0px;
    width: 80px;
}

.mint button:hover {
    background-color: #83C7B7;
    color:#FFF;
}


.coming-soon {
    border: 1px solid #7D8395;
    color: #7D8395;
    pointer-events: none;
}

quote {
    font-weight: 200;
    font-size: 26px;
    font-style: italic;
    display: flex;
    margin-top:15px;
}

.quote-attr {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
}

.width-67 {
    width: 67%;
    margin: auto;
}

.user-insight {
    padding: 10px 0px 0px;
    font-weight: 600;
}

.text-align-right {
    text-align: right;
}

.white-header {
    transition: background-color 0.35s ease;
    background-color:rgba(255, 255, 255, .97);
}

.blue-header {
    transition: background-color 0.35s ease;
    background-color:rgba(90, 150, 186, .985);
}

.mint-header {
    transition: background-color 0.35s ease;
    background-color: rgba(131, 199, 183, .97);
}

.darkgray-header {
    transition: background-color 0.35s ease;
    background-color: rgba(34, 34, 34, .97);
}

.green-header {
    transition: background-color 0.35s ease;
    background-color: rgba(85, 144, 140, .97);
}

.orange-header {
    transition: background-color 0.35s ease;
    background-color: rgba(221, 131, 72, .97);
}

.yellow-header {
    transition: background-color 0.35s ease;
    background-color: rgba(187, 170, 88, .97);
}

.hero {
    width: 100%;
    height: 70vh;
    min-height: 400px;
    display: flex;
    background-color: #FFF;
    padding: 25px;
    justify-content: center;
}

.hero-spacer {
    height: 120px;
    width: 100%;
    display: block;
}

.hero-spacer-info {
    height: 167px;
    width: 100%;
    display: block;
}

.hero-img {
    height: 100%;
    width: auto;
}

.hero2-img {
    width: 100%;
}

.left-col-spacer1 {
    width: 230px;
    height: 100%;
}

.left-col {
    width: 230px;
    padding: 0px 50px 0px 20px;
    position: relative;
}

.pin-container {
    width: 1280px;
    height: 0px;
    border: 1px solid transparent;
    margin: auto;
}

.container-left-nav{
    width: 112px;
    border: 1px solid #FFF;
    padding: 10px 25px;
    margin: 168px 0px 0px 20px;
}

.left-nav {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 40px;
    cursor:pointer;
}

.left-nav-active {
    font-weight: 600;
    transition: all .25s ease;
} 

.left-nav:hover {
    text-decoration: underline;
}

.max-75 {
    min-height: 50px;
    max-height: 60px;
    width: auto;
}

.design-logo {
    padding: 20px 0px;
    width: 50%;
}

.code-logo {
    height: 60px;
    margin: auto;
    margin-top: 15px;
}
nav {
    margin: 75px 0 0 16.5%;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 37%;
}

nav a {
    color: #FFF;
}

#top-nav {
    transition: background-color 0.35s ease; 
}


.container {
    width:1280px;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFF;
    min-height:105vh;
    align-items: flex-start;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.container a {
    color: #FFF;
}

.case {
   color: #575B67;
}

.case a {
    color: #5A96BA;
}

.nav-container {
    width: 1280px;
    height: 120px;
    display: flex;
    margin: auto;
}

.nav-container a {
    color: #FFF;
}

.container-nav-menu {
    display: flex; 
    width: 800px;
    padding-bottom: 50px;
    margin: auto;
}

.nav-item {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    opacity: 0;
    cursor:pointer;
}

.light-nav {
    transition: all 0.35s ease;
    color: #7D8395;
    background-color: #FFF;
}

.light-nav a {
    color: #7D8395;
}

.light {
    color: #7D8395;
}

.main-top {
    width: 800px;
    margin: auto;
    padding:150px 0px 20px;
}

.main {
    width: 800px;
    margin: auto;
    padding:150px 0px 100px;
}

.full-width {
    width: 100%;
}

.content {
    width: 100%;
}

.content-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.light a {
    color: #7D8395;
}

.white {
    background-color: #FFF;
}

.gray {
    background-color: #7D8395;
}

.darkgray {
    background-color: #222;
}

.blue {
    background-color: #5A96BA;
}

.green {
    background-color: #55908C;
}

.yellow {
    background-color: #BBAA58;
}

.mint {
    background-color: #83C7B7;
}

.orange {
    background-color: #DD8348;
}

.html-bkg-toggle {
    background-color: #DD8348;
}


.flex {
    display: flex;
}

.block{
    display: block;
}

.design-container {
    padding: 25px 0px;
}

.design-container hr {
    width: 65%;
    margin: 16px auto;
}

.design-container p {
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0px 0px;
    color: #575B67;
}

.design-content1 {
    width: 350px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 35px 25px 65px;
}

.design-content2 {
    width: 450px;
    background-color: #FFF;
    padding: 5px 55px 25px 0px;
    align-self: flex-end;
}

.design-content2 a {
    color: #5A96BA;
}

.design-content2 h4 {
    font-weight: 300;
    margin: 8px 0px 0px;
}

.design-content3 {
    padding: 5px 60px 15px 40px; 
}

.code-container {
    padding: 25px 15px;
    width: 48.6%;
    margin-bottom: 20px;
}

.code-content1 {
    width: 350px;
    background-color: #FFF;
    padding: 25px 35px 25px 40px;
}

.code-content2 {
    width: 450px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 12px 50px 25px 0px;

}

.code-content {
    color: #575B67;
    padding: 8px 12px 8px 8px;
}

.code-content p {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px 12px;
}

.code-content h4 {
    font-weight: 300;
    margin: 8px 0px 0px;
}

.code-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.audio-cvr {
    width: 275px;
    margin: auto;
}

.audio-btn {
    width: 50px;
    height: 50px;
    margin: 25px 25px 0px 0px;
}

.audio-content2 {
    width: 450px;
    background-color: #FFF;
    padding: 12px 50px 25px 0px;

}

.card-shadow {
    -webkit-box-shadow: 5px 5px 7px 0px rgba(87,91,103,0.50);
    -moz-box-shadow: 5px 5px 7px 0px rgba(87,91,103,0.50);
    box-shadow: 5px 5px 7px 0px rgba(87,91,103,0.50);
}

.item-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(87,91,103,0.40);
    -moz-box-shadow: 3px 3px 5px 0px rgba(87,91,103,0.40);
    box-shadow: 3px 3px 5px 0px  rgba(87,91,103,0.40);
}

.photo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery {
    height: 250px;
    width: auto;
    margin: 0px 0px 35px;
}

.landscape {
    width: 377px;
}

.portrait {
    width: 166px;
}



.placeholder {
    border: solid 1px;
    height: 275px;
    width: 400px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: 10px;
}

.placeholder2 {
    height: 200px;
    width: 320px;
}

.size-200 {
    height: 200px;
    width: 200px;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.logo {
    padding: 20px 0px 0px 20px;
    width: 240px;
    float: left;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-logo{
    cursor: pointer;
    float: left;
    position: absolute;
}
.svg-logo {
    float: left;
    position: absolute;
}

.scroller-container {
    align-items: center;
    height: calc(100vh - 550px);
}

.scroller {
    width: 51px;
    margin: auto;
    cursor:pointer;
    transition: 0.45s ease;
}

.scrolled {
    transition: all 0.45s ease;
    opacity: 0;
}




.flex-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.content-container-prototype{
    height:55vh;
    margin-bottom: 15px;
}

.content-container-prototype-final{
    height:68vh;
    margin-bottom: 15px;
}

.content-container-large{
    width: 500px;
    margin-bottom: 20px;
    padding:10px;
}

.content-container-full{
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
}

.width-546 {
    width: 546px;
}

.width-full {
    width: 100%;
}

.content-container-2item {
    width: 48.6%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-2item-40 {
    width: 44.1%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-2item-52 {
    width: 54%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-3item {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-3item-32 {
    width: 31.5%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-4item {
    width: 24.5%;
    padding: 10px;
    margin-bottom: 20px;
}

.content-container-2photo-vert {
    height: 400px;
    width: 275px;
    margin-bottom: 20px;
    flex-direction: column;
}

.content-container-vert-auto {
    height: auto;
    margin-bottom: 20px;
}

.stack {
    flex-direction: column;
    justify-content: space-between;
}

.border {
    border: solid 1px #575B67;
}

.nopad {
    padding: 0px;
}

.nowrap {
    flex-wrap: nowrap;
}

.top-margin50 {
    margin-top: 50px;
}

.content-item-case {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

.content-item-case-vert {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.photo-large {
    display: flex;
    margin: 0px;  
}

.icon {
    height:125px;
}

figure {
    margin: 0;
}

img {
    display: block;
    border: 0;
    opacity: 0;
}

img:not(.initial) {
    transition-delay: .5s;
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}

.slider-caption {
    font-size:14px;
    margin: 0 25px;
    font-weight: 300;
}

.slider {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    width: 40%;
}

.bottom-align {
    margin-top:auto;
}

.prototype-caption {
    margin-top: 50px;
}

.caption {
    font-size:12px;
    text-align: left;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
